.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:3rem;
}


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    background-color: #f0f0f0;
    overflow: auto;

}

a {
    color: #910707;
}

a:link {
    color: #910707;
}

a:hover {
    color: #343a40;
    text-decoration: none;
    font-weight: 200;
}

.nav-link.menu-block.disabled {
    color: #343a40;
    font-weight: 400;
    padding: 0;
    
}

main {
    display: contents;
    margin:auto
}

#content {
    position: fixed;
    top: 1.5rem;
    right: 0;
    left: 0;
    z-index: 1030;
}

#initiative {
font-size:80%;
    
}

#claimbox {
    text-align:center;
    font-size:x-small;
    background-color: #50856e;
    color: #fff;
    width:55%;
    margin-left:45%
}




.right-toc {
    margin-top:-3.8rem;   
    position: sticky;
    margin-left: auto;
    top: 50px;
    height: 20rem;
    overflow-y:auto;
    -webkit-box-ordinal-group: 1;
    order:1;
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    font-size: .875rem;
  /*  background-color:#afafaf;*/
       
}

ul.section-nav { 
list-style-type:none;
padding:0;
}

li.toc-entry {
    background-color: #d6d6d6;
    list-style-position:inside;
    border: 2px solid #f0f0f0;
    padding:.25rem;
    border-radius: 10px;
    min-width: 8rem;
    text-align:center;
}

li.list-block {
<<<<<<< HEAD
    background-color: #7a3636;
=======
    background-color: #a3a3a3;
>>>>>>> c631acc24b5ebd7a65c4701c0da5860ea78a336c
    border: 4px solid #f0f0f0;
    padding:.25rem;
    border-radius: 10px;
    min-width: 8rem;
    text-align:center;
}

a.list-block-link {
    color: #ffffff;
}

.col-xl-2 {
    max-width:20rem;
}

@media (min-width:120px)
{ }

h1 {
font-size:1.5rem;
    
}
h2 {
    font-size:1.2rem;
}
h3 {
    font-size:1rem;
    }
