.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:3rem;
}



body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    background-color: #f0f0f0;

}

a {
        color: #910707
}


main {
    display: block;
    margin:auto
}

#content {
    position: fixed;
    top: 1.5rem;
    right: 0;
    left: 0;
    z-index: 1030;
}

#initiative {
font-size:80%;
    
}

#claimbox {
    text-align:center;
    font-size:x-small;
    background-color: #50856e;
    color: #fff;
    width:55%;
    margin-left:45%
}