.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:3rem;
}



body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    background-color: #f0f0f0;
    overflow: auto;

}



a {
        color: #910707
}


main {
    display: contents;
    margin:auto
}

#content {
    position: fixed;
    top: 1.5rem;
    right: 0;
    left: 0;
    z-index: 1030;
}

#initiative {
font-size:80%;
    
}

#claimbox {
    text-align:center;
    font-size:x-small;
    background-color: #50856e;
    color: #fff;
    width:55%;
    margin-left:45%
}



.right-toc {
    margin-top:-3.8rem;   
    position: sticky;
    margin-left:auto;
    top: auto;
    height: 12rem;
    overflow-y:auto;
    -webkit-box-ordinal-group: 1;
    order:1;
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    font-size: .875rem;
  /*  background-color:#afafaf;*/
       
}

ul.section-nav { 
list-style-type:none;
padding:0;
}

li.toc-entry {
    background-color: #afafaf;
    list-style-position:inside;
    border: 2px solid #ffffff;
    padding:.25rem;
    border-radius: 10px;
    min-width: 8rem;
    text-align:center;
}

.col-xl-2 {
    max-width:20rem;
}

@media (min-width:120px)
{ }

h1 {
font-size:2rem;
    
}
h2 {
    font-size:1.5rem;
}
h3 {
    font-size:1.2rem;
    }
